/* FOR SCREENS OVER 1440PX */
/* FOR SCREENS OVER 1440PX */
/* FOR SCREENS OVER 1440PX */
/* FOR SCREENS OVER 1440PX */

@media (max-width: 90em) {
  .container {
    padding: auto;
    max-width: 95%;
  }
  .header {
    gap:6%;
   
  }
  .slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }
  .hero-img-box {
    right: 0rem;
    position: relative;
  }
  h3 {
    font-size: 4.6rem !important;
  }
  .spon-icons {
    gap: 1.2rem;
  }
  .spon-icons {
    grid-template-columns: repeat(5, 1fr);
  }
  .spon-img:nth-child(7),
  .spon-img:nth-child(8),
  .spon-img:nth-child(9),
  .spon-img:nth-child(10) {
    position: inherit;
  }
  .list-item {
    font-size: 2rem;
  }
}

/* FOR SCREENS OVER 1168PX */
/* FOR SCREENS OVER 1168PX */
/* FOR SCREENS OVER 1168PX */
/* FOR SCREENS OVER 1168PX */

@media (max-width: 75em) {
  h3 {
    font-size: 4rem !important;
  }
  h4 {
    font-size: 1.8rem !important;
  }
  .btn-ico {
    width: 100%;
  }
  .list-item {
    font-size: 1.4rem;
  }
  .plan-text {
    font-size: 1.2rem;
  }
  .how-discription .pp {
    font-size: 1.4rem;
  }
  .testimonial-text {
    margin-bottom: 21px;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #e6fcf5;
  }
  .data-icons {
    gap: 2rem;
    padding: 2px 0.6rem 5.6rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-plan {
    padding: 2.8rem;
  }
}

/* FOR SCREENS OVER 1024PX */
/* FOR SCREENS OVER 1024PX */
/* FOR SCREENS OVER 1024PX */
/* FOR SCREENS OVER 1024PX */

@media (max-width: 64em) {
  .nav-list {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
  }



  .wrapper{
    display: block;
  }

  .logo {
    width: 15.6rem;
}

.navigation {
  width: 50%;
}


  
  

  .mobile-nav-bar {
    display: block;
    font-size: 3.2rem;
    margin-left: 1.6rem;
    cursor: pointer;
  }

  .btn-list:link,
  .btn-list:visited {
    padding: 1.2rem 2rem;
  }

  .hero-img-box {
    right: -4rem;
    padding-top: 40px;
  }
  .hero-text-box .heading {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3rem !important;
  }
  h4 {
    font-size: 1.4rem !important;
  }
  .how-discription .pp {
    font-size: 1.2rem;
  }

  html {
    font-size: 57%;
  }
}

/* FOR SCREENS OVER 960PX */
/* FOR SCREENS OVER 960PX */
/* FOR SCREENS OVER 960PX */
/* FOR SCREENS OVER 960PX */

@media (max-width: 60em) {
  html {
    font-size: 55%;
  }


  .hero-img-box {
    right: 0;
    padding-top: 40px;
  }
  .hero-text-box .heading {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3rem !important;
  }
  h4 {
    font-size: 1.4rem !important;
  }
  .how-discription .pp {
    font-size: 1.2rem;
  }
  .body-dark {
    grid-template-columns: 1fr;
  }
  .body-dark img {
    display: none;
  }
  .section-dark {
    background-image: linear-gradient(rgba(14, 17, 51, 0.963), rgb(14, 17, 51)),
      url(../img/features-thumb-2.png);
    background-size: cover;
  }
  .section-how {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .how-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .grid3colms {
    display: grid;
    gap: 6.4rem;
    grid-template-columns: 1fr;
  }

  .pricing-plan {
    width: 131%;
    font-size: 1.8rem;
  }
 
 

}

/* FOR SCREENS OVER 700PX */
/* FOR SCREENS OVER 700PX */
/* FOR SCREENS OVER 700PX */
/* FOR SCREENS OVER 700PX */

@media (max-width: 53em) {
  html {
    font-size: 53%;
  }
  .header {
    gap: 2.8rem;
    width: 95%;
}
  .how-discription .pp {
    font-size: 0.8rem;
  }
  .arrowss {
    display: none;
  }
  .card {
    padding: 2.8rem 2.8rem;
    border: rgba(170, 170, 170, 0.201) 1px solid;
    box-shadow: 0 0rem 2.8rem rgb(0 0 0 / 4%);
    border-radius: 0.9rem;
    background-color: #eef1f664;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .card p {
    font-size: 1.4rem;
    line-height: 1.8;
    padding-bottom: 2.8rem;
  }
  .how-footer-img img {
    display: none;
  }
  .how-footer {
    height: 50rem;
  }
  .how-footer {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .how-discription {
    padding-right: 4rem;
  }
  .how-discription .pp {
    font-size: 1.4rem;
  }
  .spon-icons {
    grid-template-columns: 1fr 1fr 1fr;
    gap:0; 
    display: grid;
      width: 100%;
   
}

.spon-img {
  box-shadow: 0 1.2rem 3.6rem rgb(0 0 0 / 15%);
  border-radius: 3px;
  padding: 1.2rem;
  height: 80%;
  width: 82%;
}
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
    text-align: center;
  }
  .footer-link {
    text-align: center;
  }
  .footer-link {
    left: 10rem;
    position: relative;
  }
  .footer-desc {
    padding: 3rem;
  }
  .social-list {
    justify-content: center;
  }
  .footer-footer {
    display: flex;
  }
  .footer-footer {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    align-self: end;
    font-size: 1.6rem;
    color: #999;
    display: contents;
  }
}

/* FOR SCREENS OVER 600PX */
/* FOR SCREENS OVER 600PX */
/* FOR SCREENS OVER 600PX */
/* FOR SCREENS OVER 600PX */


@media (max-width: 38em) {
  html {
    font-size: 55%;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px ;
  }

  .customers {
    margin-top: 0rem;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: end;
  }
  .hero-img {
    width: 40%;
  }
  .hero-img-box {
    align-items: flex-end;
  }
  .hero-img-box {
    left: 62%;
  }

  .how-discription .pp {
    font-size: 1.2rem;
  }

  .how-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
  .hero-img-box {
    padding-top: 0;
  }

  .btn-ico {
    padding: 2.2rem 2.2rem;
  }
  h3 {
    font-size: 2.6rem !important;
  }
  h4 {
    font-size: 1.4rem !important;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -1rem;
    text-align: center;
  }
  .hp p {
    font-size: 1.4rem;
  }
  .data-icons {
    gap: 3rem;
  }
  .data-icons .part {
    width: 100%;
    height: 28rem;
  }
  .vid img {
    width: 100%;
  }
  .pic img {
    height: 100%;
  }
  .slid-arrows {
    display: none;
  }
  .slide-text {
    padding-bottom: 4rem;
  }

  .section-download {
    padding-top: 0;
  }
  .section-download h3 {
    padding-top: 2.4rem;
    width: 66%;
}
  .grid-3-cols {
    display: flex;
    flex-direction: column;
    padding: 0 3.4rem;
  }
  .grid-3-cols {
    width: 79%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding: 0 0.4rem;
    text-align: center;
  }
  element.style {
    height: 56rem;
  }
  .spon-img:nth-child(10) {
    left: 68px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
  }
  .footer-link {
    left: 14rem;
    position: relative;
  }
  .data-icons {
    padding: 0;
    width: 66%;
    display: contents;
  }
  .testimonial-section {
    height: 60rem;
  }
  .spon-title {
    font-size: 2.2rem;
}
.spon-title {
  width: 69%;}
  .h2h {
    padding-top: 0.8rem;
    font-size: 2.2rem;
  }
  .hed-dark h2 {
    width: 92%;
    font-size: 2.8rem;
}
.sec {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: start;
}
  .pricing-plan {
    width: 150%;
    font-size: 1.8rem;
  }
  .spon-img:nth-child(10) {
    position: relative;
    left: 100%;
}
  .data-icons img {
    width: 20% !important;
  }
  .data-icons .part {
    gap: 4rem !important;
  }
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    text-align: center;
}
.slide-text {
  padding-left: 0;
}
.hero-text-box .heading h1 {
  font-size: 3.6rem;
}
.hero-text-box .heading {
  font-size: 2.2rem;
}
.section-dark {
  height: 73vh;
}
.nav-link:link, .nav-link:visited {
  font-size: 1rem;
}
.nav-link.nav-btn:link, .nav-link.nav-btn:visited {
  padding: 0.6rem 1.5rem;
  border-radius: 24px;

}
.footer-desc {
  padding: 1rem;
  font-size: 1.20rem;
}

.pic img {
  width: 100%;
  padding-bottom: 4.8rem;
}

}

   



/*********************/
/* FOR DEAD PHONES 😄  */
/*********************/

@media (max-width:20em) {
  .header {
    DISPLAY: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    height: 15rem;
}

.navigation {
 
  width: 64%;
}


}