
/**************************/
     /* HEADER START */
/**************************/
/****** mobile nav****/



.wrapper{
  width: 1000px;
  margin: 0 auto;
  display: none;
}
.logo{ 
  float: left;
}
.menu-button{
  background-color: transparent;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  
}
.right-menu{
  position: relative;
  display: inline-block;
} 
.dropdown-menu{
  display: none;
  position: absolute;
  right: -3rem;
  background-color: #f9f9f9;
  min-width: 15rem;
  z-index: 1;
}
.dropdown-menu a:hover{
  background-color: var(--d);
  color: var(--r);
  padding: 2rem 5rem;
}
.right-menu:hover .dropdown-menu{
  display: block;  
}
.right-menu:hover .menu-button{
  background-color: transparent;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.dropdown-menu-links a{
  font-size: 2.4rem;
}
.dropdown-menu-links{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}




















/****** mobile nav end ****/
.mobile-nav-list{
  list-style: none;
  background-color: rgba(255, 255, 255, 0.484);
  padding: 4rem 5rem;
  position: absolute;
  right: 4rem;
  top: 12rem;
  font-size: 3.2rem;
}
.mob-nav ul{
  display: none;
}

.mobile-nav-list:hover ul{
  display: block;
}

/****** mobile nav end ****/


.hero-header-container{
  background-color: var(--l);
  /* height: 100vh; */
}
.header {
  display: flex;
  align-items: center;
  gap: 10rem;
  height: 12rem;
  max-width: 136rem;
  margin: 0 auto;
}
.logo {
  height:100%;
  width: 100%;
}

/**************************/
      /* NAVIGATION */
/**************************/
.navigation{
 display: flex;
 justify-content: space-between;
 width: 75%; 
}
.nav-list {
  font-size: 1.4rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--d);
  font-weight: 400;
  font-size:var(--p);
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active {
  color: var(--r);
}

.nav-link.nav-btn:link,
.nav-link.nav-btn:visited {
  padding: 1.2rem 3.2rem;
  border-radius: 24px;
  color: var(--l);
  background-color: var(--r);
}

.nav-link.nav-btn:hover,
.mnav-link.nav-btn:active {
  background-color: var(--d);
  color: var(--r);
  box-shadow: 0 1.4rem 4.8rem rgba(0, 0, 0, 0.318);
}

/* .sticky{
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #fff;
} */

/**************************/
     /* HERO START */
/**************************/
.section-hero {
  padding-top: 2rem;
}

.hero {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0rem;
  align-items: center;
}

.hero-text-box .heading{
  line-height: 1.05;
  color: var(--d);
  font-size:6.4rem;
  font-weight: 400;
  margin-bottom: 2.2rem ;
}
.hero-text-box .heading h1{
  color: var(--d);
  font-size: 6.6rem;
  font-weight: 700;
}
.hero-discription {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  gap: 3.2rem;
}
.hero-img-box {
  padding-top: 20px;
}
.hero-img {
  width: 100%;
  height: 100%;
} 

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.mail{
  border: none;
  outline: none;
}
.cta-btn:visited, .cta-btn:link{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.btn-ico:hover, .btn-ico:active{
  transform: scale(1);
  box-shadow: 0 1.4rem 4.8rem rgba(0, 0, 0, 0.318);
  border: #ff3e6585 1px solid;
}
.btn-ico{
  width: 60%;
  font-size: 1.2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  padding: 1.2rem 2.2rem;
  border-radius: 24px;
  color: #999;
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.095);
  border-left: #ff3e66 3px solid;
}

.btn-icco {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  color: #777;
  padding: 0 auto;
  
}

.arrow{
  color: var(--r);
  font-size: 1.8rem;
  align-self: center;
  display: flex;
}
/* .btn-ico::before{
  position: absolute;
  content: '';
  
  height: 5.2rem;
  width: 5.2rem;
  background-color:#ff3e6500;
  border-radius: 50%;
  border-left: #ff3e66 4px solid;
} */

.customers-imgs {
  display: flex;
}

.customers-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--l);
}

.customers-imgs img:last-child {
  margin: 0;
}

.customers-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.customers span {
  color: var(--d);
  font-size: 2.8rem;
  font-weight: 700;
  
}


/**************************/
     /* HERO END */
/**************************/
/**************************/
     /* HOW START */
/**************************/
.section-how{
  padding: 4rem 0rem 12rem;
}
.how-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.2rem 0rem;
}
.hp h2{
  font-size: var(--h2);
  font-weight: 900;
  color: var(--d);
  padding-bottom: 1.4rem;
}
.hp p{
  font-size: 1.4rem;
  
}
.how-heading  a{
  font-size:1.4rem ;
  font-weight: 500;
  color: var(--d);
  padding: 1.2rem 2.82rem;
  border-radius: 25px;
  border: #222 solid 1px;
  text-decoration: none;
  text-align: center;
  display: flex;
  gap: 5px;
}
/**CARDS**/

.how-cards{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  padding-bottom: 12rem;
  gap: 4rem;
  
}
.card{
  padding: 4.8rem 6.8rem;
  border: rgba(170, 170, 170, 0.201) 1px solid;
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.042);
  border-radius: .9rem;
  background-color: #eef1f664;
}
.card:hover{
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 010, 0.244);
  background-color: #fff;
}
.icon-body{
  color: #fff;
  height: 6rem;
  width: 6rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.num1{
  background-color: #66ebd5;
}
.num2{
  background-color: #eb6666;
}
.num3{
  background-color: #3146e4;
}
.num4{
  background-color: #f77d12;
}
.num5{
  background-color: #7166eb;
}
.num6{
  background-color: #147a2e;
}

.icon-inner {
  font-size: 2.8rem;
}
.card h4{
  font-size: var(--hin);
  font-weight: var(--hw);
  color: var(--d);
  padding-bottom: 1.4rem;
}
.card p{
  font-size: 1.6rem;
  line-height: 1.8;
  padding-bottom:2.8rem;
}
.card a{
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  text-align: center;
}
/****** HOW FOOTER ******/
.how-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50rem;
  background-color: var(--l);
  width: 100%;
}


.how-footer-img{
  background-size: cover;
  overflow: hidden;
  padding-left: 3rem;
}
.how-footer-img img{
  width: 100%;
}
.how-discription{
  padding-top: 5rem;
  padding-right: 5rem;
}

.sec{
  /* padding-top: 4rem; */
  display: flex;
  gap: 2.4rem;
}
.how-discription span{
  color: var(--r);
  font-size: 1.6rem;
  font-weight: 500;
}
.how-discription .h22{
  font-size: var(--h2);
  font-weight: 900;
  color: var(--d);
  padding: 0 3rem;
  padding-top: 2rem;
}
.how-discription h4{
  color: var(--d);
  font-size: 2.2rem;
  padding-bottom: 1.6rem;
}
.how-discription .h4ico{
  position: relative;
  height: 35px;
  width: 35px;
  fill: #18c744;
  top: .8rem;
}
.how-discription .pp{
  font-size: var(--p);
  font-weight: 500;
  line-height: var(--plh) !important;
  padding: 2rem 0 3rem;
  line-height: 1.5rem;
}
.how-discription .pp{
  font-size: 1.8rem;
  line-height: 1.6 !important;
  padding: 1rem 4rem;
  line-height: 1.5rem;
}




/**************************/
     /* HOW END */
/**************************/
/**************************/
     /* DARK START */
/**************************/
.dark{
  height: 100vh;
  background-color: var(--d);
}
.section-dark{
background-color: var(--d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89rem;
  
}
.hed-dark{
  display: flex;
  text-align: center;
  flex-direction: column;
  
}
.hed-dark h2{
  font-size: var(--h2);
  line-height: 1.3;
  font-weight: 900;
  color: var(--l);
  padding-bottom: 1.5rem;
  width: 70%;
  align-self: center;
  display: flex;
}
.hed-dark p{
  color: var(--l);
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 4rem;
}

.body-dark{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.cardark{
    display: flex;
    flex-direction: column;
    width: 108%;
    gap: 1rem;
    padding: 14px;

}
.crd{
  border: rgba(85, 85, 85, 0.346) 1px solid;
  border-radius: .9rem;
  opacity: 75%;
  position: relative;
}
.crd:hover{
  opacity: 100%;
  border: rgba(177, 175, 175, 0.716) 1px solid;
}
.crd h4{
  font-size: 2.2rem;
  font-weight: var(--hw);
  color: var(--l);
  padding-bottom: 1rem;
}
.crd p{
  font-size:var(--p) ;
  line-height: var(--plh);
  font-weight: 400;
  color: #555;
}
.c1::before{
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  background-color: #eb6666;
  border-radius: 50%;
  box-shadow: 0 0rem 2rem #ff0707;
  left: 2.4rem;
}
.c2::before{
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  background-color: #2c6ff4;
  border-radius: 50%;
  box-shadow: 0 0rem 2rem #2c6ff4;
  left: 2.4rem;
}
.c3::before{
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  background-color: #20ed64;
  border-radius: 50%;
  box-shadow: 0 0rem 2rem #07ff45;
  left: 2.4rem;
}
.c1, .c2,.c3{
  width: 90%;
  padding:3.2rem 6.6rem;
}
/**************************/
     /* DARK END */
/**************************/
/**************************/
     /* DATA START */
/**************************/
.data-section{
  padding: 9.6rem 0;
}
.data-title{
  padding-bottom:
    9.6rem;
}
.data-icons {
  padding: 2px 5.6rem 9.6rem 9rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.data-icons img{
  width: 50%;
}
.data-icons .part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: 22rem;
  height: 22rem;
  border-radius: 0.9rem;
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.095);
}
.data-icons p{
  font-size:var(--p) ;
  line-height: var(--plh);
  font-weight: var(--hw);
  color: rgb(123, 120, 120);
}
.data-icons .part span{
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--d);
}
/*******   slid show part*****/
.slide{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.vid{
  /* position: relative;
display: flex;
flex-direction: column;
align-items: center; */
top: 50% ;
gap: 3.2rem;
}
.vid img{
  width: 100%;
}
.vid-icon {
  font-size: 12rem;
  color: #fff;
  top: -36%;
  right: -40%;
  position: relative;
  text-shadow: 0 0rem 2.8rem rgb(0 0 0 / 88%);
}
.slid-arrows{
  width: 70%;
}
.pic img{
  width: 50%;
}
.slide-text{
  padding-left: 6.8rem;
}
.slide-text h3{
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--d);
  padding-bottom: 2.2rem;
}
.slide-text p{
  font-size:var(--p) ;
  line-height: var(--plh);
  padding-bottom: 3.2rem;
}
.slide-text a{
  display: inline-block;
  padding: 1rem 2rem;
  border: #222 1px solid;
  border-radius: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--d);
}
.slid-arrows {
  display: flex;
  gap: 1rem;
  justify-content: right;
  padding-top: 4.6rem;
  right: 12rem;
  position: relative;
}
.slid-arrows :first-child{
  border: rgba(34, 34, 34, 0.412) 1px solid;
  font-size: 4.8rem;
  font-weight: 400;
  border-radius: 50px;

}
.slid-arrows :nth-child(2){
  border: rgba(34, 34, 34, 0.414) 1px solid;
  font-size: 4.8rem;
  font-weight: 100;
  border-radius: 50px;
}
.lll:hover, .rrr:hover{
  background-color: var(--d);
  color: #ffffff;
}
.cta:hover{
  color: #fff;
  background-color: var(--d);

}
/**************************/
     /* DATA END */
/**************************/
/**************************/
     /* DOWNLOAD START */
/**************************/
.download-section{
  background-color: var(--l);
 
}
.section-download{
  height: 40rem;
  /* width: 30%; */
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  padding-top: 4.8rem;
}
.section-download .how-discription{
  padding: 0rem 0rem;
}
.section-download h3{
  font-size: 5.4rem;
  font-weight: 700;
  padding-top: 4.8rem;
  color: var(--d);
}
.download-section .section-download .how-discription .pp{
  padding: 2rem 0 2rem;
}
.app-store {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.app-store .crdd{
  height: 4.6rem;
  width: 12rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.app-store a{
  list-style: none;
  text-decoration: none;
}
.disc{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ios{
  background-color: var(--d);
}
.android{
  color: var(--d);
  background-color: #fff;
  border: #222 2px solid;
  display: flex;
}

.app-store .ios .ap{
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.app-store .android .ap{
  font-size: 1rem;
  
}
.app-store .android span{
  font-weight: 600;
  color: var(--d);
}
.app-store .ios span{
  font-weight: 600;
  color: #fff;
}
.ios-ico{
  color: #ffffff;
  font-size:2.8rem;
}
.and-ico{
  color: var(--d);
  font-size:2.8rem;
}
/**************************/
     /* DOWNLOAD END */
/**************************/
/**************************/
     /* PRICING START */
/**************************/
.section-pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing{
  padding-bottom: 9.6rem;
}
.swich{
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
  border: #555 1px solid;
  border-radius: 37px;
  padding: 0.7rem 3rem;
}
.cont{
  padding-bottom: 4.6rem;
}
.monthly{
  color: #fff;
  position: relative;
  background-color: var(--r);
  padding: 0.9rem 1rem;
  border-radius: 50px;
  display: inline-block;
  right: 2.2rem;
}
.yearly{
  left: 1rem;
  position: relative;
}
.yearly:hover {
  color: #fff;
  background-color: rgba(85, 85, 85, 0.328);
  padding: 0.8rem 2.2rem;
  border-radius: 50px;
}
.pricing-plan {
  border: 1px solid var(--l);
  border-radius: 9px;
  padding: 4.8rem;
  transition: all .8s;
}
.pri:hover{
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.pricing-plan--full{
  border-top: var(--r) 4px solid;
  position: relative;
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.095);
}
.pricing-plan--full a:hover{
  border-top: var(--d) 4px solid;
  position: relative;
  box-shadow: 0 0rem 2.8rem rgba(0, 0, 0, 0.095);
}
.pricing-plan--full::before{
  content: "Most Populer";
  position: absolute;
  top: 9%;
  right: 0%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #3b8aff;
  padding: 0.8rem 2rem;
  border-radius: 20px 0 0 20px;
}
.pricing-plan--juicy .list-icon {
  border-radius: 50%;
  background-color: var(--l);
  width: 3rem;
  height: 3rem;
  color: #11e61c8d;
}
.plan-sing-up a:hover{
  color: #fff;
  background-color: var(--r);
}
.plan-header {
  margin-bottom: 1.8rem;
}

.plan-name {
  color: var(--d);
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  position: relative;
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--d);
  margin-left: 41px;
  margin-bottom: 2.6rem;
}

.plan-price .sanss {
  position: absolute;
  font-size: 3rem;
  font-weight: 400;
  top: 2px;
  left: -2.2rem;
}
.plan-text{
  padding-bottom: 1rem;
}
.plan-price span{
  font-size: 1.4rem;
  font-weight: 400;
}
.list-item {
  color: var(--d);
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 4rem;
}
.list-icon {
  border-radius: 50%;
  background-color: var(--l);
  width: 2.8rem;
  height: 2.8rem;
  color: #1175e68d;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--d);
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: var(--d);
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fff;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: var(--d);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.pricing-p {
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 4.8rem;
}
.plan-sing-up .btn{
  color: var(--d);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  border: rgba(119, 119, 119, 0.628) 1px solid;
  border-radius: 50px;
  padding: 1.4rem 3.2rem
}
.plan-sing-up .btn--full{
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--r);
  border-radius: 50px;
  padding: 1.4rem 3.2rem
}
/**************************/
     /* PRICING END */
/**************************/
/**************************/
     /* TESTIMONIAL START */
/**************************/
.testimonial-section{
  height: 40rem;
  padding-top: 8rem;
}
.testimonial-section {
  background-image: url("../img/testimonial-bg-2.91b99839.jpg");
  color:#fff;
  padding-top: 24px;
}
.grid-3-cols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8rem 21rem 0 5rem;
}
.rate-img{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.rt-img{
  height: 12rem;
  border-radius: 50%;
}
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
  position: relative;
  
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 1.7;
  color: #e6fcf5;
}
.testimonial-author{
  font-size: 2.2rem;
  font-weight: 600;
}
.testimonial-jop{
  font-size: 1.8rem;
}
.arrowss{
  font-size: 6rem; 
  font-weight: 400;
  position: absolute;
  right: 0;
  bottom: -12px;
}
.arrow-r:hover{
  color: var(--r);
}
.arrow-l:hover{
  color: var(--r);
}

/**************************/
     /* TESTIMONIAL END */
/**************************/
/**************************/
     /* SPONSORES START */
/**************************/
.section-spncers{
  padding-bottom: 12rem;
  padding-top: 6rem;
}
.sponcers{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spon-title{
  width: 50%;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  padding: 6.8rem 0 2rem;
  color: var(--d);
}
.spon-descripton{
  font-size: var(--p);
}
.spon-img {
  box-shadow: 0 1.2rem 3.6rem rgb(0 0 0 / 15%);
  border-radius: 9px;
  padding: 3.2rem;
  height: 100%;
  width: 100%;
}
.spon-icons{
  display: grid;
  max-width: 70%;
  margin: 8.4rem auto 0px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(11rem,1fr));
  gap: 4.2rem;
}
.spon-img:nth-child(7){
  left: 13rem;
}
.spon-img:nth-child(8){
  left: 16rem;
}
.spon-img:nth-child(9){
  left: 19rem;
}
.spon-img:nth-child(10){
  left: 21rem;
}
.spon-img:nth-child(7),.spon-img:nth-child(8),.spon-img:nth-child(9),.spon-img:nth-child(10){
 position: relative;

}
/**************************/
     /* SPONSORES END */
/**************************/
/**************************/
     /* FOOTER Stert */
/**************************/

footer{
  background-color: var(--l);
  
}
.footer-container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 4rem;
  padding: 9.8rem 0;
}
.footer-logo img{
  width: 50%;
 padding-bottom: 2rem;
}
.footer-desc{
  font-size: var(--p);
  font-weight: var(--plh);
}
.footer-link{
  margin-top: 1.6rem;
  font-size: var(--p);
  font-weight: 500;
  color: var(--d);
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  margin-bottom: 2.8rem;
}
.footer-link:active,
.footer-link:hover{
  color: var(--r);
}
.social-list{
  display: flex;
  font-size: 1.8rem;
  list-style: none;
  gap: 1.8rem;
  color: var(--d);
}
.social-list li{
  background-color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: .4s;
}
.footer-icon:hover{
  color: var(--r);
}
.footer-icon{
  color: var(--d);
}


.footer-name{
  font-size: 2rem;
  color: var(--d);
}
.foot-list{
  list-style: none;
  font-size: 1.8rem;
  line-height: 2.4;
  padding-top: 2rem;
}
.foot-list li a{
  color:#555;
  text-decoration: none;
}
.foot-list li a:hover {
  opacity: .5;
}

.footer-ico{
  padding-right: 2rem;
  color: #5e8ff1;
}

.footer-footer{
  padding-bottom: 5rem;
  border-top: 1px #999 solid;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-footer-btn{
  padding-top: 4.2rem;
  display: flex;
  gap: 1rem;

}
.apple, .android{
  color: var(--d);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3.8rem;
  width: 18rem;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0rem 1.6rem rgba(44, 53, 70, 0.183);
}
.apple{
  background-color: rgb(255, 255, 255);
}
.android{
  border: 1px #999 solid;
  background-color: var(--l);
}
.footer-footer-btn .apple:hover{
  box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.15);
}
.footer-footer-btn .android:hover{
  box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.15);
}

.copyright {
  align-self: end;
  font-size: 1.6rem;
  color: #999;
}


/******************/
/******************/
/* BACK TO TOP  */
/******************/
/******************/


.top {
  --offset: 50px; 
  
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: var(--r);
  border-radius: 100px;
  white-space: nowrap;
  opacity: 0.5;
}
.top:hover{
  opacity: 1;
}